.card .card-header h5{
    color: #1abc9c;
    font-size: 18px;
}
.about-text{
    font-size: 14px;
    line-height: 1.8;
    //font-family: "Times New Roman", Times, serif;
    text-align: justify;
}
