<block-ui>

    <div class="row">
        <div class="col-lg-8 offset-lg-2 chang-pass">
            <div class="card center-card mb-0">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-12 image-holder">
                            <img src="assets/images/auth/reset_password.jpg" class="center-img">
                        </div>
                        <div class="card col-lg-7 col-md-7 col-12 mb-0">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Change Password</h5>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="changePasswordForm">
                                    <div class="form-group row">
                                        <label for="Password" class="col-lg-4 col-12 col-form-label font-weight-bold required">Old
                                            Password</label>
                                        <div class="col-lg-8 col-12">
                                            <input type="password" appBlockCopyPaste formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" placeholder="Enter your old password" required>
                                            <div *ngIf="submitted && f.oldPassword.errors" class="error-text">
                                                <span *ngIf="f.oldPassword.errors.required" class="text-danger"> Old
                                                    password is
                                                    required</span>
                                                    <span *ngIf="f.oldPassword.errors.mustNotMatch" class="text-danger">
                                                        Old Password and New Password should not be same</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="Password" class="col-lg-4 col-12 col-form-label font-weight-bold required">New
                                            Password</label>
                                        <div class="col-lg-8 col-12">
                                            <input type="password" formControlName="newPassword"  class="form-control" [ngClass]="{'is-invalid': submitted && f.newPassword.errors }" id="NewPassword" placeholder="Enter your new password">
                                            <div *ngIf="submitted && f.newPassword.errors" class="error-text">
                                                <div *ngIf="f.newPassword.errors.required" class="text-danger">New Password is required</div>
                                                <div *ngIf="f.newPassword.errors.minlength" class="text-danger">New Password must be at least 6 characters</div>
                                                <div *ngIf="!f.newPassword.errors.required && f.newPassword.errors.strong" class="text-danger">Password must Must have at least one number, one lowercase and one uppercase letter , one special character and one numerical character. It can not start with a special character or a digit</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Password" class="col-lg-4 col-12 col-form-label font-weight-bold required">Confirm
                                            Password</label>
                                        <div class="col-lg-8 col-12">
                                            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors }" id="ConfirmPassword" placeholder="Enter your new password again">
                                            <div *ngIf="submitted && f.confirmPassword.errors" class="error-text">
                                                <div *ngIf="f.confirmPassword.errors.required" class="text-danger">
                                                    Confirm Password is required</div>
                                                <div *ngIf="f.confirmPassword.errors.mustMatch" class="text-danger">
                                                   New Password and Confirm Password should match</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="col-lg-8 col-12 offset-lg-4 col-12">
                                            <button type="button" (click)="onSubmit()" class="btn btn-secondary btn-block">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block-ui>