.center-img{
    max-width: 250px;
    width: 100%;
}



.auth-wrapper .card.center-card {
    border-top: 0;
    padding: 0;
}


.auth-wrapper .card {
    padding: 0;
}

.auth-wrapper .card .card-body {
    padding: 20px;
}

.auth-wrapper .card .card {
    border-radius: 0;
}

.image-holder{
    text-align: center;
    padding: 50px 0px;
    border-right: 1px solid #999;
    background: #453c74;
}