<block-ui>
  <div class="auth-wrapper">
    <!-- <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4"> -->
    
    <div class="col-lg-7 col-12">
      <h1 class="font-weight-bold text-center"> Learning Management System (LMS)</h1>
      <div class="card center-card">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-12 image-holder">
              <img src="assets/images/auth/reset_password.jpg" class="center-img">
            </div>
            <div class="card col-lg-7 col-md-7 col-12">
              <div class="card-header">
                <h5 class="card-title mb-0">Reset Password</h5>
              </div>
              <div class="card-body">
                <form [formGroup]="resetPasswordForm">
                  <div class="form-group row">
                    <label for="Password" class="col-lg-4 col-12 col-form-label font-weight-bold">Email</label>
                    <div class="col-lg-8 col-12">
                      <input type="email" formControlName="email" class="form-control" readonly>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="Password" class="col-lg-4 col-12 col-form-label font-weight-bold required">New
                      Password</label>
                    <div class="col-lg-8 col-12">
                      <input type="password" formControlName="new_password" class="form-control"
                        [ngClass]="{'is-invalid': submitted && f.new_password.errors }" id="NewPassword"
                        placeholder="********">
                      <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                        <div *ngIf="f.new_password.errors.required" class="text-danger">New Password
                          is required</div>
                        <div *ngIf="f.new_password.errors.minlength" class="text-danger">New
                          Password must be at least 6 characters</div>

                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="Password" class="col-lg-4 col-12 col-form-label font-weight-bold required">Confirm
                      Password</label>
                    <div class="col-lg-8 col-12">
                      <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors }" id="ConfirmPassword"
                        placeholder="********">
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required" class="text-danger">Confirm
                          Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch" class="text-danger">
                          Passwords must match</div>

                      </div>
                    </div>
                  </div>
                  <div class="form-group row mb-0">
                    <div class="col-lg-8 col-12 offset-lg-4 col-12">
                      <button type="button" (click)="onFormSubmit()" class="btn btn-secondary btn-block">Submit</button>
                      <p class="mb-0 text-muted text-left mt-2"><a [routerLink]="['/auth/signin']" class="f-w-400">Remember password?</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>