/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.timepicker-overlay {
    z-index: 1100 !important;
  }
  
  .timepicker-backdrop-overlay {
    z-index: 1100 !important;
  }
